/* Write your CSS code here */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 200px;
}
.date {
  display: flex;
  justify-content: space-between;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
}
